/* This file is for your main application css. */

/* Modal */
.ReactModal__Content {
	transform: translate(-50%, -50%);
	width: 85vw;
	max-width: 850px;
  height: 80vh;
  max-height: 800px;
}

.tiles article .icon {
  width: 4em;
  height: 4em;
}

.ReactModal__Content img {
  width: 100%;
  border: solid 1px #ededed;
}

.ReactModal__Content h2, .ReactModal__Content p {
  letter-spacing: 0;
	margin: 0;
}

.ReactModal__Content .projectImage {
  margin: 1em 0;
  margin-bottom: 0;
}

.ReactModal__Content .specs {
  list-style: none;
  margin: 0;
  margin-top: -10px;
  padding: 0;
  display: flex;
  border: solid 1px #ededed;
  border-top: none;
  margin-bottom: 1em;
}

.ReactModal__Content .specs li {
  flex-grow: 1;
  text-align: center;
  padding: .25em;
}

.ReactModal__Content .specs li:nth-of-type(2) {
  border: solid 2px #ededed;
  border-top: none;
  border-bottom: none;
}

.ReactModal__Body--open {
  overflow: hidden;
}

/* Beta Banner */
.beta-banner {
  text-align: center;
  background: #3F1058;
  color: #FFFFFF;
}

.beta-banner p {
  font-size: 15px;
  margin: 0;
}

.beta-banner a {
  color: #E6DEEA;
}

.beta-banner a:hover {
  color: #FFFFFF;
}

/* file-area */
.file-area {
  width: 100%;
  position: relative;
}

.file-area label {
  font-weight: 300;
}

.file-area input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.file-area .file-dummy {
  width: 100%;
  padding: 30px;
  background:rgba(64, 15, 87, 0.5);
  border: 2px dashed rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: background 0.3s ease-in-out;
  color: white;
}
.file-area .file-dummy .success {
  display: none;
}
.file-area:hover .file-dummy {
  background:rgba(64, 15, 87, 0.7);
}
.file-area input[type=file]:focus + .file-dummy {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px;
}
.file-area input[type=file]:valid + .file-dummy {
  border-color: rgba(0, 255, 0, 0.4);
  background-color: rgba(110, 150, 82, 0.61);
}
.file-area input[type=file]:valid + .file-dummy .success {
  display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
  display: none;
}
.form-errors {
  margin-bottom: 3em;
}
.form-errors p {
  margin: 0px;
  margin-bottom: .5em;
  color: #FF4136;
  font-weight: bold;
}
.form-errors ul {
  margin: 0px;
  padding: 0px;
}

.form-errors li {
  list-style: none;
  color: #FF4136;
  margin: 0px;
  padding: 0px;
  border-left: solid 2px red;
  padding-left: 10px;
}

.project-form .loading {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  margin-left: 1rem;
}

.load-more-section {
  text-align: center;
  margin-top: 5rem;
}