<div class="inner">
	<header>
		<h1>A collection of projects made with 
			<br /> Elixir.
		</h1>
		<p>Elixir is an awesome dynamic, functional language designed for building scalable and maintainable applications.</p>
	</header>
	<div id="app-root"></div>
</div>
